@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');



body {
	margin: 0;
	background: white;
	font-family: 'Lexend deca', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: hsl(179, 100%, 13%);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: black;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

section{
    padding-left: 10px;
    margin: 0px;
    font-size: 20PX;
    justify-content: center;
    word-spacing: 5px;
}
.info {
  margin-left: 60px;
  margin-right: 20px;

}

.first {
  margin-left: 60px;
  width: 70%;
}

@media (max-width: 992px) {
    .div2 {
      display: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      max-width: 900px;
      margin: auto;
    }
    
    img {
      align-items: center;
      justify-content: center;
    }

  }